{% extends '_base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="page-header">
        <h1>Blog Yazılarım</h1>
        <p class="lead">
            Sektörel düşüncelerim, veri bilimi notlarım ve teknik analizlerim.
        </p>
    </div>

    <div class="container"> 
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

            {% for post in posts %}
            <div class="col">
                <div class="card h-100 custom-card" 
                     data-aos="fade-up" 
                     data-aos-delay="{{ forloop.counter0 }}00">

                    {% if post.cover_image %}
                        <a href="{% url 'post_detail' pk=post.pk %}">
                            <img src="{{ post.cover_image.url }}" class="card-img-top" alt="{{ post.title }} Kapak Resmi" style="height: 250px; object-fit: cover;">
                        </a>
                    {% endif %}

                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            <a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration: none; color: var(--primary-color);">
                                {{ post.title }}
                            </a>
                        </h5>

                        <small class="card-text text-muted mb-2">
                            Yayınlanma: {{ post.created_at|date:"d F Y" }}
                        </small>

                        <p class="card-text text-muted">
                            {{ post.content|striptags|truncatewords:20 }}
                        </p>

                        <div class="mt-auto">
                            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-sm btn-outline-dark">
                                <i class="bi bi-search"></i> Devamını Oku
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="col">
                    <p>Henüz gösterilecek blog yazısı yok.</p>
                </div>
            {% endfor %}

        </div> </div> {% endblock content %}