{% extends '_base.html' %}
{% load static %} {% block title %}Anasayfa - Emre Aşkın{% endblock title %}

{% block content %}

<div class="container-fluid hero-section">
    <div class="container">
        <div class="row align-items-center g-5 py-5">

            <div class="col-lg-6 hero-text">
                <h1 class="display-4 fw-bold lh-1 mb-3">
                    Ben <span class="highlight">Emre Aşkın</span>
                </h1>
                <p class="lead">
                    Veri Bilimi, Makine Öğrenimi ve Full-Stack Web Geliştirme alanlarına odaklanmış 
                    bir Yazılım Mühendisliği öğrencisiyim. 
                    Problemleri "profesyonel" ve "sürdürülebilir" mimarilerle çözmeye inanıyorum.
                </p>

                <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4 social-links">
                    <a href="https://github.com/emreaskinsoftware" target="_blank" title="GitHub"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/emre-askin" target="_blank" title="LinkedIn"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-10 col-sm-8 col-lg-6 text-center">
                <img src="{% static 'images/profile.jpg' %}" class="d-block mx-lg-auto img-fluid profile-image" alt=" isminiz Profil Fotoğrafı">
            </div>

        </div>
    </div>
</div>

{% endblock content %}